<div class="container-fluid">

<div class="row">
    <div class="col-sm-10">
      <div id="top-head">
        <img src="/images/card.jpg" height="18px" width="20px">
        <p>Save 25$* when you open a Walmart Credit Card and spend 75$ today</p>
        <strong><a href="#" class="app">Apply Now<span class="glyphicon glyphicon-play"></span></a> 
        <a href="#" class="app">Learn More<span class="glyphicon glyphicon-play"></span></a> </strong>
        <h6>*Subject to credit approval</h6>
      </div>
      <div id="heading">
          <h4>Your Cart:</h4><p>1 item.</p>
      </div>

        <div class="row">          <!-- middle 2-5-2-1 collumes-->
          <div class="col-sm-2" id="sam-img">
            <img src="/images/samtv.jpg" height="80px" width="110px">
          </div>
          <div class="col-sm-5">
            <h5>This is some text.This is some text.This is some text.This is some text. </h5>
            <p>Sort By: WalMart.com</p>
            <a href="#">Sell all shipping and pick the option for 94087</a>
          </div>
          <div class="col-sm-2">
	          <label for="sel1">Quntity</label><select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            </select>
           </div>
           <div class="col-sm-1 price-tag" id="price-tags">
             <h4>$250.99</h4>
             <p>was <del>$299.99</del></p>
             <p>you save $50</p>
           </div>
         </div>

          <div class="row">          <!-- bottom 2-8 collumes-->
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <div id="bottomtxt">       <!--left side bottom 10 col-->
                <strong><a href="#" class="ltext">Save for later</a>
                <a href="#" class="ltext">Remove</a></strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
            </div>         
            <div class="col-sm-8" id="bottombox">
              <div class="panel panel-default">
                <div class="panel-body"><img src="/images/walmart.gif" height="30px" width="35px">
                  <a href="#">Add care plan for $25.00</a>  
                </div>
              </div>
	          </div>
          </div>
    </div>
      <div class="col-sm-2" id="right-side">
        <h6 id="cart-price">$249.99</h6>
        <p>subtotal (1 iteam)</p>
        <h6>Free</h6>
        <p>Value shopping</p>
        <p>Est.tax</p>
        <small>Based on 94086 <strong><a href="#">change</a></strong> </small><hr>
        <h5>Est. Total</h5>
        <h3><sup>$</sup> 276<sup>85</sup></h3>
        <button type="button" class="btn btn-info btn-lg">Check Out</button>
        <p>You earned <strong>Free Value Shipping!</strong></p>
        <p><strong>Free pickup</strong>is available</p> 
         <a href="#" id="last-line">Learn more about shipping costs & Free pick up</a>
         
        <!--div class="row">
          <div class="col-sm-1" id="left-line">
             <p>subtotal (1 iteam)</p>
          </div>
          <div class="col-sm-1">
          </div>
        </div-->  
      </div>
   </div>
    
   <div class="row">
     <div class="col-sm-12">
       <div id="heading1">
         <h4>SCEPTRE X322BV-HDR 32" LED Class 720P HDTV with ultra slim metal brush bezel, 60Hz</h4>
       </div> 
     </div>
   </div>
   <div class="row">
     <div class="col-sm-2" id="left-side-img">
       <img src="/images/samtv.jpg" width="180px" height="140px">
     </div>
     <div class="col-sm-7" id="middle">
       
        <div class="row">
          <div class="col-sm-2" id="colm1">
            <h3><sup>$</sup> 149<sup>99</sup></h3>
          </div>
          <div class="col-sm-2" id="colm2">
            <small>was <del>$299.99</del></small>
             <p><small>you save $50</small></p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <div id="midd-blw">
          <h6>Best seller</h6>
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
          <small>(1200)</small>
          <small>See all in TV's</small>
          <a href="#">Show only Screptre items</a>
        </div>
      </div>
     
     <div class="col-sm-3">
       <div id="rt-side">
         <p>some text</p>
       </div>
     </div>
    
   </div> <hr>  
   
      <div class="row">
    <div class="col-sm-12">
      <div id="heading1">
        <h4>SCEPTRE X322BV-HDR 32" LED Class 720P HDTV with ultra slim metal brush bezel, 60Hz</h4>
      </div> 
    </div>
   </div>
   <div class="row">
     <div class="col-sm-2" id="left-side-img">
       <img src="/images/samtv.jpg" width="180px" height="140px">
     </div>
     <div class="col-sm-7" id="middle">
        <div class="row">
          <div class="col-sm-2" id="colm1">
            <h3><sup>$</sup> 149<sup>99</sup></h3>
          </div>
          <div class="col-sm-2" id="colm2">
            <small>was <del>$299.99</del></small>
             <p><small>you save $50</small></p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <div id="midd-blw">
          <h6>Best seller</h6>
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
          <small>(1200)</small>
          <small>See all in TV's</small>
          <a href="#">Show only Screptre items</a>
        </div>
     </div>
     <div class="col-sm-3">
     </div>
   </div> 
</div>