<div class="container-fluid">
  <div class="row">
       <div class="col-sm-12">
         <div id="heading1">
           <h4>SCEPTRE X322BV-HDR 32" LED Class 720P HDTV with ultra slim metal brush bezel, 60Hz</h4>
         </div> 
       </div>
     </div>
     <div class="row">
       <div class="col-sm-2" id="left-side-img">
         <img src="/images/samtv.jpg" width="180px" height="140px">
       </div>
       <div class="col-sm-7" id="middle">
         
          <div class="row">
            <div class="col-sm-2" id="colm1">
              <h3><sup>$</sup> 149<sup>99</sup></h3>
            </div>
            <div class="col-sm-2" id="colm2">
              <small>was <del>$299.99</del></small>
               <p><small>you save $50</small></p>
            </div>
            <div class="col-sm-3">
            </div>
          </div>
          <div class="best-seller">
            <h6 class="midd-blw">Best seller</h6>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
            <small>(1200)</small>
            <small>See all in TV's</small>
            <a href="#">Show only Screptre items</a>
          </div>
        </div>
       
       <div class="col-sm-3">
         <div id="rt-side">
           <p>some text</p>
         </div>
       </div>
      
     </div> <hr>  
     
        <div class="row">
      <div class="col-sm-12">
        <div id="heading1">
          <h4>SCEPTRE X322BV-HDR 32" LED Class 720P HDTV with ultra slim metal brush bezel, 60Hz</h4>
        </div> 
      </div>
     </div>
     <div class="row">
       <div class="col-sm-2" id="left-side-img">
         <img src="/images/samtv.jpg" width="180px" height="140px">
       </div>
       <div class="col-sm-7" id="middle">
          <div class="row">
            <div class="col-sm-2" id="colm1">
              <h3><sup>$</sup> 149<sup>99</sup></h3>
            </div>
            <div class="col-sm-2" id="colm2">
              <small>was <del>$299.99</del></small>
               <p><small>you save $50</small></p>
            </div>
            <div class="col-sm-3">
            </div>
          </div>
          <div class="midd-blw">
            <h6>Best seller</h6>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
            <small>(1200)</small>
            <small>See all in TV's</small>
            <a href="#">Show only Screptre items</a>
          </div>
       </div>
       <div class="col-sm-3">
       </div>
     </div> 
 </div>